@media (max-width: 767px) {
    .center {
    padding-left: 17px;
    padding-right: 16px;
}
.welcome-section {
    padding: 50px 0;
    height: auto;
    text-align: center;
    .star-1 {
    width: 223px;
    height: 238px;
    }
.star-2 {
    display: none;
}
 
}
}